# App
NODE_ENV=production
PORT=3000
PORTFRONT=https://massapefascinante.karnaubasoft.com.br

# JWT
JWT_SECRET=sua_chave_secreta_aqui

# Database (Postgres)
DATABASE_URL=postgresql://usuario:senha@host:5432/nome_do_banco
DATABASE_USER=usuario
DATABASE_PASS=senha
DATABASE_DB=nome_do_banco

# Redis
REDIS_URL=redis://localhost:6379

# Google OAuth
GOOGLE_CLIENT_ID=seu_google_client_id.apps.googleusercontent.com

# Gmail (SMTP)
GMAIL_USER=seu@gmail.com
PASSWORD_GMAIL=sua_senha_de_app_gmail
